<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Config>
	<SettingsSerializer>
		<TextBox Name="ResourcesDir" Value="" />
		<CheckBox Name="PlaySoundByACT" Value="True" />
		<CheckBox Name="Autostop" Value="True" />
		<CheckBox Name="Autoload" Value="True" />
		<CheckBox Name="Autohide" Value="True" />
		<NumericUpDown Name="OverlayX" Value="200" />
		<NumericUpDown Name="OverlayY" Value="200" />
		<NumericUpDown Name="NumberOfRowsToDisplay" Value="3" />
		<NumericUpDown Name="BarHeight" Value="25" />
		<NumericUpDown Name="BarWidth" Value="200" />
		<Button Name="FontString" Text="Microsoft Sans Serif, 12pt, style=Bold" Font="맑은 고딕" Style="Regular" Size="9" />
		<TrackBar Name="OpacityPercentage" Value="80" />
		<CheckBox Name="OverlayVisible" Value="True" />
		<CheckBox Name="ReverseOrder" Value="False" />
		<CheckBox Name="MoveOverlayByDrag" Value="True" />
		<CheckBox Name="ShowOverlayButtons" Value="True" />
		<CheckBox Name="Over10" Value="True" />
		<CheckBox Name="Under10" Value="True" />
		<CheckBox Name="ShowCasting" Value="True" />
		<CheckBox Name="PopupMode" Value="False" />
		<NumericUpDown Name="OverlayX2" Value="200" />
		<NumericUpDown Name="OverlayY2" Value="200" />
		<NumericUpDown Name="NumberOfRowsToDisplay2" Value="3" />
		<NumericUpDown Name="BarHeight2" Value="25" />
		<NumericUpDown Name="BarWidth2" Value="200" />
		<Button Name="FontString2" Text="Microsoft Sans Serif, 12pt, style=Bold" Font="맑은 고딕" Style="Regular" Size="9" />
		<TrackBar Name="OpacityPercentage2" Value="80" />
		<CheckBox Name="OverlayVisible2" Value="True" />
		<CheckBox Name="ReverseOrder2" Value="False" />
		<CheckBox Name="MoveOverlayByDrag2" Value="True" />
		<CheckBox Name="ShowOverlayButtons2" Value="True" />
		<CheckBox Name="Over102" Value="True" />
		<CheckBox Name="Under102" Value="True" />
		<CheckBox Name="ShowCasting2" Value="True" />
		<CheckBox Name="PopupMode2" Value="False" />
		<NumericUpDown Name="OverlayX3" Value="200" />
		<NumericUpDown Name="OverlayY3" Value="200" />
		<NumericUpDown Name="NumberOfRowsToDisplay3" Value="3" />
		<NumericUpDown Name="BarHeight3" Value="25" />
		<NumericUpDown Name="BarWidth3" Value="200" />
		<Button Name="FontString3" Text="Microsoft Sans Serif, 12pt, style=Bold" Font="맑은 고딕" Style="Regular" Size="9" />
		<TrackBar Name="OpacityPercentage3" Value="80" />
		<CheckBox Name="OverlayVisible3" Value="True" />
		<CheckBox Name="ReverseOrder3" Value="False" />
		<CheckBox Name="MoveOverlayByDrag3" Value="True" />
		<CheckBox Name="ShowOverlayButtons3" Value="True" />
		<CheckBox Name="Over103" Value="True" />
		<CheckBox Name="Under103" Value="True" />
		<CheckBox Name="ShowCasting3" Value="True" />
		<CheckBox Name="PopupMode3" Value="False" />
		<NumericUpDown Name="OverlayX4" Value="200" />
		<NumericUpDown Name="OverlayY4" Value="200" />
		<NumericUpDown Name="NumberOfRowsToDisplay4" Value="3" />
		<NumericUpDown Name="BarHeight4" Value="25" />
		<NumericUpDown Name="BarWidth4" Value="200" />
		<Button Name="FontString4" Text="Microsoft Sans Serif, 12pt, style=Bold" Font="맑은 고딕" Style="Regular" Size="9" />
		<TrackBar Name="OpacityPercentage4" Value="80" />
		<CheckBox Name="OverlayVisible4" Value="True" />
		<CheckBox Name="ReverseOrder4" Value="False" />
		<CheckBox Name="MoveOverlayByDrag4" Value="True" />
		<CheckBox Name="ShowOverlayButtons4" Value="True" />
		<CheckBox Name="Over104" Value="True" />
		<CheckBox Name="Under104" Value="True" />
		<CheckBox Name="ShowCasting4" Value="True" />
		<CheckBox Name="PopupMode4" Value="False" />
		<NumericUpDown Name="OverlayX5" Value="200" />
		<NumericUpDown Name="OverlayY5" Value="200" />
		<NumericUpDown Name="NumberOfRowsToDisplay5" Value="3" />
		<NumericUpDown Name="BarHeight5" Value="25" />
		<NumericUpDown Name="BarWidth5" Value="200" />
		<Button Name="FontString5" Text="Microsoft Sans Serif, 12pt, style=Bold" Font="맑은 고딕" Style="Regular" Size="9" />
		<TrackBar Name="OpacityPercentage5" Value="80" />
		<CheckBox Name="OverlayVisible5" Value="True" />
		<CheckBox Name="ReverseOrder5" Value="False" />
		<CheckBox Name="MoveOverlayByDrag5" Value="True" />
		<CheckBox Name="ShowOverlayButtons5" Value="True" />
		<CheckBox Name="Over105" Value="True" />
		<CheckBox Name="Under105" Value="True" />
		<CheckBox Name="ShowCasting5" Value="True" />
		<CheckBox Name="PopupMode5" Value="False" />
		<TextBox Name="BarColor" Value="#4050B0" />
		<TextBox Name="BarEmColor" Value="#FF0000" />
		<TextBox Name="DurationBackColor" Value="#F79A00" />
		<TextBox Name="DurationColor" Value="#FFFFFF" />
		<TextBox Name="FontColor" Value="#FFFFFF" />
		<TextBox Name="FontStrokeColor" Value="#000000" />
		<CheckBox Name="SolidBar" Value="False" />
		<CheckBox Name="TimelineShown" Value="True" />
	</SettingsSerializer>
</Config>
